<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="panelBar" th:fragment="page">
    <script>
        function toPage(start, size){
            $("#start").val(start);
            $("#size").val(size);
            $("#listForm").submit();
        }
    </script>
    <div class="btn-group">
        共 [[${page.total}]] 条
    </div>
    <div class="btn-group float-right">
        <button type="button" class="btn btn-default"
                th:onclick="'toPage(1, '+${page.pageSize}+')'">首页</button>

        <button type="button" class="btn btn-default"
                th:onclick="'toPage('+${page.prePage}+','+${page.pageSize}+')'">上页</button>

        <button type="button" th:each="i:${page.navigatepageNums}"
                th:class="'btn btn-'+${page.pageNum==i?'primary':'default'}"
                th:onclick="'toPage('+${i}+','+${page.pageSize}+')'">
            [[${i}]]
        </button>

        <button type="button" class="btn btn-default"
                th:onclick="'toPage('+${page.nextPage}+','+${page.pageSize}+')'">下页</button>

        <button type="button" class="btn btn-default"
                th:onclick="'toPage('+${page.pages}+','+${page.pageSize}+')'">尾页</button>
    </div>
</div>
</body>
</html>