<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="panelBar" th:fragment="user">
    <div class="image">
        <img src="/static/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a href="#" class="d-block">
            <shiro:notAuthenticated>visitor</shiro:notAuthenticated>
            <shiro:principal property="name"/>
        </a>
    </div>
</div>
</body>
</html>