<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common/head::head"/>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" th:include="/common/logo::logo"/>
    <aside class="main-sidebar sidebar-dark-primary elevation-4" th:include="/common/side::side(currentPage='项目管理')"/>


    <div class="content-wrapper">
        <div class="content-header" th:include="common/top::top(menu='项目管理', menuUrl='/project/list', currentPage='添加项目')"/>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <form action="/project/add" method="post" role="form" id="addForm">
                        <input type="hidden" name="start" th:value="${start}"/>
                        <input type="hidden" name="size" th:value="${size}"/>
                        <div class="col-md-12">
                            <div class="card card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">项目信息</h3>
                                </div>
                                <div class="card-body">
                                        <div class="row">
                                            <div class="form-group col-sm-2">
                                                <label>项目经理</label>
                                                <input name="pmName" type="text" class="form-control" placeholder="项目经理">
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>客户名称</label>
                                                <input name="name" type="text" class="form-control" placeholder="客户名称">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>需求简述</label>
                                                    <textarea name="demand" class="form-control" rows="3"
                                                              placeholder="需求简述; 注意排版哦.."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-2">
                                                <label>所在阶段</label>
                                                <select id="currentStage" name="currentStage" class="custom-select">
                                                    <option value="分配">分配</option>
                                                    <option value="调研">调研</option>
                                                    <option value="编码">编码</option>
                                                    <option value="测试">测试</option>
                                                    <option value="上线">上线</option>
                                                    <option value="验收">验收</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-sm-10">
                                                <label>当前进度</label>
                                                <div class="slider-blue">
                                                    <input name="currentSlider" type="text" value="50" class="slider form-control"
                                                           data-slider-min="0" data-slider-max="100" data-slider-step="5"
                                                           data-slider-value="50" data-slider-orientation="horizontal"
                                                           data-slider-selection="before" data-slider-tooltip="show"
                                                           data-value="50" style="display: none;">
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">预期时间</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                            <div class="form-group col-sm-2">
                                            <label>分配完成</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="far fa-calendar-alt"></i></span>
                                                </div>
                                                <input id="planTime" name="planTime"
                                                       th:value="${'2019/04/01'}"
                                                       type="text" class="form-control"
                                                       data-inputmask-alias="datetime"
                                                       data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                            </div>
                                        </div>
                                            <div class="form-group col-sm-2">
                                                <label>调研完成</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="far fa-calendar-alt"></i></span>
                                                    </div>
                                                    <input id="surveyTime" name="surveyTime" type="text" class="form-control" data-inputmask-alias="datetime"
                                                           data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>编码完成</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="far fa-calendar-alt"></i></span>
                                                    </div>
                                                    <input id="executeTime" name="executeTime" type="text" class="form-control" data-inputmask-alias="datetime"
                                                           data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>测试完成</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="far fa-calendar-alt"></i></span>
                                                    </div>
                                                    <input id="verifyTime" name="verifyTime"
                                                           type="text" class="form-control"
                                                           data-inputmask-alias="datetime"
                                                           data-inputmask-inputformat="yyyy/mm/dd"
                                                           data-mask>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>上线完成</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="far fa-calendar-alt"></i></span>
                                                    </div>
                                                    <input id="onlineTime" name="onlineTime" type="text" class="form-control" data-inputmask-alias="datetime"
                                                           data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-2">
                                            <label>验收完成</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="far fa-calendar-alt"></i></span>
                                                </div>
                                                <input id="acceptTime" name="acceptTime" type="text" class="form-control" data-inputmask-alias="datetime"
                                                       data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer">
                                <input type="reset" value="重置" class="btn btn-default float-left"/>
                                <input type="submit" value="提交" class="btn btn-primary float-right"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>


    <footer class="main-footer" th:include="common/footer::footer"/>
    <aside class="control-sidebar control-sidebar-dark" th:include="common/control::control"/>
</div>
<th:block th:include="common/js::js"/>

<script>
    $(function () {
        $.validator.setDefaults({
            submitHandler: function () {
                return true;
            }
        });
        jQuery.validator.addMethod("compareDate", function(value, ele, param) {
            let currentStage = $("#currentStage").val();
            if(currentStage=='分配'){
                return true;
            }
            var date = jQuery(param).val();
            var before = new Date(Date.parse(date));
            var after = new Date(Date.parse(value));
            return before < after;
        });
        jQuery.validator.addMethod("ato", function(value, ele, param) {
            let currentStage = $(param).val();
            if(currentStage=='分配'){
                return true;
            }
            return value!=undefined && value!='';
        });

        $('#addForm').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 6,
                    maxlength: 20,
                },
                pmName: {
                    ato: "#currentStage",
                    minlength: 2,
                    maxlength: 6,
                },
                currentStage: {
                    required: true,
                    minlength: 1,
                    maxlength: 18,
                },
                currentSlider: {
                    required: true,
                    min: 0,
                    max: 100
                },
                demand: {
                    required: true,
                    minlength: 10,
                    maxlength: 2000,
                },
                planTime: {
                    required: true,
                    date: true,
                },
                surveyTime: {
                    date: true,
                    compareDate: "#planTime",
                },
                executeTime: {
                    date: true,
                    compareDate: "#surveyTime",
                },
                verifyTime: {
                    date: true,
                    compareDate: "#executeTime",
                },
                onlineTime: {
                    date: true,
                    compareDate: "#verifyTime",
                },
                acceptTime: {
                    date: true,
                    compareDate: "#onlineTime",
                },
            },
            messages: {
                name: {
                    required: "请填写客户名称",
                    minlength: "客户名称为6-20个字符",
                    maxlength: "客户名称为6-20个字符",
                },
                pmName: {
                    ato: "请填写项目经理名称",
                    minlength: "项目经理为2-6个字符",
                    maxlength: "项目经理为2-6个字符",
                },
                currentStage: {
                    required: "请选择当前所在阶段",
                    minlength: "所在阶段为2-6个字符",
                    maxlength: "所在阶段2-6个字符",
                },
                currentSlider: {
                    required: "请选择当前阶段完成进度",
                    min: "完成进度为0-100",
                    max: "完成进度为0-100",
                },
                demand: {
                    required: "请简诉项目需求",
                    minlength: "需求描述为10-2000个字符",
                    maxlength: "需求描述为10-2000个字符",
                },
                planTime: "请填写分配时间",
                surveyTime: {
                    compareDate: "调研时间应大于分配时间",
                },
                executeTime: {
                    compareDate: "编码时间应大于调研时间",
                },
                verifyTime: {
                    compareDate: "测试时间应大于编码时间",
                },
                onlineTime: {
                    compareDate: "上线时间应大于测试时间",
                },
                acceptTime: {
                    compareDate: "验收时间应大于上线时间",
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
        $('.slider').bootstrapSlider();
        $('[data-mask]').inputmask();
    })
</script>
</body>
</html>
