<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/head_meta::head_meta"/>
    <th:block th:include="common/css::css"/>
</head>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" th:include="common/side_head::side_head"/>
    <aside class="main-sidebar sidebar-dark-primary elevation-4" th:include="common/side::side"/>

    <div class="content-wrapper">
        <div class="content-header" th:include="common/content_head::content_head"/>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">项目列表</h3>
                                <a href="/project/add" class="btn btn-success float-right">添加</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="width: 5%">#</th>
                                        <th style="width: 5%">人员</th>
                                        <th style="width: 10%">项目名称</th>
                                        <th style="width: 60%;">需求</th>
                                        <th style="width: 5%;">剩余</th>
                                        <th style="width: 10%">进度</th>
                                        <th style="width: 5%">Lab</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>李清</td>
                                        <td>广州市特种机电设备检测研究院</td>
                                        <td>
<pre>
  客户的HR系统与M3集成，实现需求如下:
    1、M3工作台列表中，增加HR系统图标，接收HR系统待办，点击可跳转到HR系统app处理
    2、M3消息列表，接收HR系统代办消息，点击可跳转到HR系统app处理
  支持内容：
    1、与HR系统开发人员、业主技术人员沟通评估方案,前期已经提供接口资料及开发平台
</pre>
                                        </td>
                                        <td>10天</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-danger" style="width: 10%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-danger">10%</span></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>李清</td>
                                        <td>广州市特种机电设备检测研究院</td>
                                        <td>
<pre>
  客户的HR系统与M3集成，实现需求如下:
    1、M3工作台列表中，增加HR系统图标，接收HR系统待办，点击可跳转到HR系统app处理
    2、M3消息列表，接收HR系统代办消息，点击可跳转到HR系统app处理
  支持内容：
    1、与HR系统开发人员、业主技术人员沟通评估方案,前期已经提供接口资料及开发平台
</pre>
                                        </td>
                                        <td>10天</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-warning" style="width: 50%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-warning">50%</span></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>李清</td>
                                        <td>广州市特种机电设备检测研究院</td>
                                        <td>
<pre>
  客户的HR系统与M3集成，实现需求如下:
    1、M3工作台列表中，增加HR系统图标，接收HR系统待办，点击可跳转到HR系统app处理
    2、M3消息列表，接收HR系统代办消息，点击可跳转到HR系统app处理
  支持内容：
    1、与HR系统开发人员、业主技术人员沟通评估方案,前期已经提供接口资料及开发平台
</pre>
                                        </td>
                                        <td>10天</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-success" style="width: 100%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-success">100%</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <footer class="main-footer" th:include="common/footer::footer"/>
    <aside class="control-sidebar control-sidebar-dark" th:include="common/control::control"/>
</div>
<th:block th:include="common/js::js"/>
</body>
</html>
