<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/head_meta::head_meta"/>
    <th:block th:include="common/css::css"/>
</head>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" th:include="common/side_head::side_head"/>
    <aside class="main-sidebar sidebar-dark-primary elevation-4" th:include="common/side::side"/>

    <div class="content-wrapper">
        <div class="content-header" th:include="common/content_head::content_head"/>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">项目列表</h3>
                                <a href="/project/add" class="btn btn-success float-right">添加</a>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="width: 5%">#</th>
                                        <th style="width: 5%">人员</th>
                                        <th style="width: 10%">项目名称</th>
                                        <th style="width: 60%;">需求</th>
                                        <th style="width: 5%;">剩余</th>
                                        <th style="width: 10%">进度</th>
                                        <th style="width: 5%">Lab</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="project,stat:${page.list}">
                                        <td>[[${stat.count}]]</td>
                                        <td>[[${project.pmName}]]</td>
                                        <td>[[${project.name}]]</td>
                                        <td>
                                            <pre>[[${project.demand}]]</pre>
                                        </td>
                                        <td>10天</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div th:class="'progress-bar ' + ${project.currentSlider>90?'bg-success':(project.currentSlider>30?'bg-warning':'bg-danger')}"
                                                     th:style="'width: '+ ${project.currentSlider}+'%'"/>
                                            </div>
                                        </td>
                                        <td>
                                            <span th:class="'badge ' + ${project.currentSlider>90?'bg-success':(project.currentSlider>30?'bg-warning':'bg-danger')}">
                                                [[${project.currentSlider}]]%
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <footer class="main-footer" th:include="common/footer::footer"/>
    <aside class="control-sidebar control-sidebar-dark" th:include="common/control::control"/>
</div>
<th:block th:include="common/js::js"/>
</body>
</html>
