<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/head::head"/>
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <a href="/"><b>GM</b>LTE</a>
    </div>
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">注册一个新的用户</p>

            <form id="registerForm" action="/register" method="post">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input onchange="this.value=this.value.replace(/\s+/g,'')"
                               type="text"
                               name="name"
                               maxlength="20"
                               class="form-control"
                               placeholder="登入名">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group mb-3">
                        <input id="pass"
                               type="password"
                               name="pass"
                               maxlength="20"
                               class="form-control"
                               placeholder="设置密码">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="password"
                               name="password"
                               maxlength="20"
                               class="form-control"
                               placeholder="确认密码">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    我接受这个 <a href="#">条款</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">注册</button>
                        </div>
                    </div>
                </div>
            </form>

            <a href="/login" class="text-center">我已经有账户了</a>
        </div>
    </div>
</div>


<th:block th:include="common/js::js"/>

<script>
    $('#registerForm').validate({
        rules: {
            name: {
                required: true,
                minlength: 3,
                maxlength: 20,
            },
            pass: {
                required: true,
                minlength: 3,
                maxlength: 20,
            },
            password: {
                required: true,
                equalTo: "#pass",
                minlength: 3,
                maxlength: 20,
            },
            terms: {
                required: true,
            },
        },
        messages: {
            name: {
                required: "请输入登入名",
                minlength: "登入名为3-20个字符",
                maxlength: "登入名为3-20个字符",
            },
            pass: {
                required: "请输入登入密码",
                minlength: "登入密码为3-20个字符",
                maxlength: "登入密码为3-20个字符",
            },
            password: {
                required: "请确认登入密码",
                equalTo: "两次输入的密码不一致",
                minlength: "登入密码为3-20个字符",
                maxlength: "登入密码为3-20个字符",
            },
            terms: {
                required: "请勾选同意条款",
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });
</script>
</body>
</html>
