<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.pm.mapper.LoginMapper">
    <resultMap id="loginMap" type="Login">
        <id property="name" column="name"/>
        <result property="pass" column="pass"/>
        <result property="roles" column="roles"/>
        <result property="remember" column="remember"/>
        <result property="lastIp" column="last_ip"/>
        <result property="lastTime" column="last_time"/>
    </resultMap>


    <insert id="insert" parameterType="Login">
        insert into login values(#{name},#{pass},#{roles},#{remember},#{lastIp},#{lastTime})
    </insert>


    <update id="login" parameterType="Login" timeout="1000">
        update login
        <set>
            <if test="remember!=null and remember!=''">
                remember = #{remember},
            </if>
            <if test="lastIp!=null and lastIp!=''">
                last_ip = #{lastIp},
            </if>
        </set>
        <where>
            `name` = #{name} and `pass` = #{pass}
        </where>
    </update>


    <select id="name2pass" resultMap="loginMap">
        select * from login where `name` = #{name} and `pass` = #{pass}
    </select>

    <select id="select2name" resultMap="loginMap">
        select * from login where `name` = #{name}
    </select>
</mapper>