<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.pm.mapper.ProjectMapper">
    <resultMap id="proMap" type="Project">
        <id property="id" column="id"/>
        <result property="client" column="client"/>
        <result property="name" column="name"/>
        <result property="contract" column="contract"/>
        <result property="pmName" column="pm_name"/>
        <result property="days" column="days"/>
        <result property="status" column="status"/>
        <result property="currentStage" column="current_stage"/>
        <result property="currentTime" column="current_time"/>
        <result property="currentSlider" column="current_slider"/>
        <result property="priority" column="priority"/>
        <result property="demand" column="demand"/>
        <result property="completed" column="completed"/>
        <result property="nextPlan" column="next_plan"/>
        <result property="risk" column="risk"/>
        <result property="remarks" column="remarks"/>
        <result property="planTime" column="plan_time"/>
        <result property="surveyTime" column="survey_time"/>
        <result property="executeTime" column="execute_time"/>
        <result property="verifyTime" column="verify_time"/>
        <result property="onlineTime" column="online_time"/>
        <result property="acceptTime" column="accept_time"/>
    </resultMap>

    <insert id="insert" parameterType="Project">
        insert into tb_project (
        id, client, `name`, contract, pm_name, days, status,
        current_stage, `current_time`, current_slider,
        priority, demand, completed, next_plan, risk,
        remarks, plan_time, survey_time, execute_time,
        verify_time, online_time, accept_time
        )
        values (
        <if test="id!=null">
            #{id},
        </if>
        <if test="id==null">
            null,
        </if>
        #{client}, #{name}, #{contract},
        <if test="pmName!=null and pmName!=''">
            #{pmName},
        </if>
        <if test="pmName==null or pmName==''">
            null,
        </if>
        #{days}, #{status}, #{currentStage}, #{currentTime},
        #{currentSlider}, #{priority}, #{demand},
        #{completed}, #{nextPlan}, #{risk}, #{remarks},
        #{planTime}, #{surveyTime}, #{executeTime},
        #{verifyTime}, #{onlineTime}, #{acceptTime}
        )
    </insert>

    <update id="update" parameterType="Project">
        update tb_project
        <set>
            <if test="pmName!=null and pmName!=''">
                pm_name=#{pmName},
            </if>
            <if test="contract!=null and contract!=''">
                contract=#{contract},
            </if>
            <if test="client!=null and client!=''">
                client=#{client},
            </if>
            <if test="days!=null">
                days=#{days},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="currentStage!=null and currentStage!=''">
                current_stage=#{currentStage},
            </if>
            <if test="currentTime!=null">
                `current_time`=#{currentTime},
            </if>
            <if test="currentSlider!=null">
                current_slider=#{currentSlider},
            </if>
            <if test="priority!=null">
                priority=#{priority},
            </if>
            <if test="demand!=null and demand!=''">
                demand=#{demand},
            </if>
            <if test="completed!=null and completed!=''">
                completed=#{completed},
            </if>
            <if test="nextPlan!=null and nextPlan!=''">
                next_plan=#{nextPlan},
            </if>
            <if test="risk!=null and risk!=''">
                risk=#{risk},
            </if>
            <if test="remarks!=null and remarks!=''">
                remarks=#{remarks},
            </if>
            <if test="planTime!=null">
                plan_time=#{planTime},
            </if>
            <if test="surveyTime!=null">
                survey_time=#{surveyTime},
            </if>
            <if test="executeTime!=null">
                execute_time=#{executeTime},
            </if>
            <if test="verifyTime!=null">
                verify_time=#{verifyTime},
            </if>
            <if test="onlineTime!=null">
                online_time=#{onlineTime},
            </if>
            <if test="acceptTime!=null">
                accept_time=#{acceptTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteById">
        delete from tb_project where id=#{id}
    </delete>

    <select id="selectBy" resultMap="proMap" timeout="3000">
        <if test="pc.choose==7">
            select * from (
        </if>
        select * from tb_project
        <where>
            <if test="pc.likes!=null and pc.likes!=''">
                and (contract like #{pc.likes} or client like #{pc.likes} or pm_name like #{pc.likes} or `name` like #{pc.likes})
            </if>
            <if test="pc.choose==1 or pc.choose==5">
                and (pm_name != '' and pm_name is not null)
            </if>
            <if test="pc.choose==2 or pc.choose==6">
                and (pm_name = '' or pm_name is null)
            </if>
            <if test="pc.choose==5 or pc.choose==6">
                and (current_slider &lt; 100 and `current_time` &lt; now())
            </if>
            <if test="pc.choose!=4">
                and (status is null or status = 'on')
            </if>
            <if test="pc.choose==4">
                and (status = 'off')
            </if>
            <if test="pc.choose==8">
                and (DATE_SUB(CURDATE(), INTERVAL -30 DAY) > date(accept_time))
            </if>
        </where>
        order by `priority` desc
        <if test="pc.choose==7">
            ) tb order by tb.`current_time` asc
        </if>
    </select>

    <select id="selectById" resultMap="proMap" timeout="3000">
        select * from tb_project where id = #{id}
    </select>
</mapper>