<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.pm.mapper.TeamMapper">
    <resultMap id="teamMap" type="Team">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="pmName" column="pm_name"/>
        <result property="predecessor" column="predecessor"/>
        <result property="concurrency" column="concurrency"/>
        <result property="onCount" column="on_count"/>
        <result property="acceptCount" column="accept_count"/>
        <result property="tags" column="tags"/>
        <result property="summary" column="summary"/>
        <result property="offtime" column="offtime"/>
        <result property="saturability" column="saturability"/>

        <result property="status" column="status"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <insert id="insert">
        insert into tb_team (
        id, `name`, pm_name, predecessor, concurrency, on_count, accept_count,
        tags, summary, offtime,
        <if test="saturability!=null">
            saturability,
        </if>
        <if test="status!=null">
            status,
        </if>
        remarks
        ) values (
        <if test="id!=null">
            #{id},
        </if>
        <if test="id==null">
            null,
        </if>
        #{name}, #{pmName}, #{predecessor}, #{concurrency}, #{onCount},
        #{acceptCount}, #{tags}, #{summary}, #{offtime},
        <if test="saturability!=null">
            #{saturability},
        </if>
        <if test="status!=null">
            #{status},
        </if>
        #{remarks}
        )
    </insert>

    <update id="update">
        update tb_team
        <set>
            <if test="name!=null and name!=''">
                `name` = #{name},
            </if>
            <if test="pmName!=null and pmName!=''">
                pm_name = #{pmName},
            </if>
            <if test="predecessor!=null and predecessor!=''">
                predecessor = #{predecessor},
            </if>
            <if test="concurrency!=null">
                concurrency = #{concurrency},
            </if>
            <if test="onCount!=null">
                on_count = #{onCount},
            </if>
            <if test="acceptCount!=null">
                accept_count = #{acceptCount},
            </if>
            <if test="tags!=null">
                tags = #{tags},
            </if>
            <if test="summary!=null">
                summary = #{summary},
            </if>
            <if test="offtime!=null">
                offtime = #{offtime},
            </if>
            <if test="offtime==null">
                offtime = null,
            </if>
            <if test="saturability!=null">
                saturability = #{saturability},
            </if>
            <if test="status!=null">
                `status` = #{status},
            </if>
            <if test="remarks!=null">
                remarks = #{remarks},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteById">
        delete from tb_team where id=#{id}
    </delete>

    <select id="selectBy" resultMap="teamMap" timeout="3000">
        <if test="pc.choose==5 or pc.choose==6 or pc.choose==7">
            select * from(
        </if>
        select * from tb_team
        <where>
            <if test="pc.likes!=null and pc.likes!=''">
                and (`name` like #{pc.likes} or pm_name like #{pc.likes} or predecessor like #{pc.likes} or tags like
                #{pc.likes} or summary like #{pc.likes} or remarks like #{pc.likes})
            </if>
            <if test="pc.choose!=1">
                and (status is null or status = 'on')
            </if>
            <if test="pc.choose==2">
                and (status = 'off')
            </if>
        </where>
        order by offtime asc
        <if test="pc.choose==5">
            ) tab order by tab.on_count asc
        </if>
        <if test="pc.choose==6">
            ) tab order by tab.accept_count desc
        </if>
        <if test="pc.choose==7">
            ) tab order by tab.concurrency desc
        </if>
    </select>

    <select id="selectById" resultMap="teamMap" timeout="3000">
        select * from tb_team where id = #{id}
    </select>
</mapper>